{% extends 'base.html.twig' %}

{% block title %}Overview{% endblock %}

{% block body %}
    <h2>Engineering Intel</h2>
    <div class="break">Általános</div>
    <div style="clear: both; float: left">
        <div style="width: 700px; height: 500px; float: left" id="piechart_sum_of_commits_day"></div>
        <div style="width: 900px; height: 500px; float: left" id="piechart_sum_of_commits_hour"></div>
    </div>
    <div class="example-wrapper">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        {% endfor %}

           <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                        google.charts.setOnLoadCallback(function () {
                            const chart = new google.visualization.PieChart(document.getElementById('piechart_sum_of_commits_day'));
                            let data = [];
                            let rawData = {{ sumContribPerWeekday|json_encode|raw }};

                            data.push(['Weekday', 'Number of commits'])

                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Kód módosítások naponkénti bontásban - összesítés'
                                }
                            );
                        });
            </script>

            <script type="text/javascript">
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(function () {
                    const chart = new google.visualization.LineChart(document.getElementById('piechart_sum_of_commits_hour'));
                    let data = [];
                    let rawData = {{ sumContribPerHour|json_encode|raw }};

                    data.push(['Weekday', 'Number of commits'])

                    for (let index in rawData) {
                        if (rawData.hasOwnProperty(index)) {
                            data.push([index, rawData[index]]);
                        }
                    }

                    chart.draw(
                        google.visualization.arrayToDataTable(data),
                        {
                            title: 'Kód módosítások eloszlása időben - összesítés'
                        }
                    );
                });
            </script>
        <div class="break" style="clear: both">Kódonként</div>
        <ul>
            {% for repo in repositories %}
                <div class="repo_holder">
                    <script type="text/javascript">
                        google.charts.load('current', {'packages': ['corechart']});

                        google.charts.setOnLoadCallback(function () {
                            const chart = new google.visualization.PieChart(document.getElementById('piechart{{ repo.name }}'));
                            let data = [];
                            let rawData = {{ repo.data.contribPerWeekday|json_encode|raw }};

                            data.push(['Weekday', 'Number of commits'])

                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Kód módosítások naponkénti bontásban'
                                }
                            );
                        });

                        google.charts.setOnLoadCallback(function () {
                            let chart_div = document.getElementById('piechart{{ repo.name }}2');
                            const chart = new google.visualization.PieChart(chart_div);
                            let data = [];
                            let rawData = {{ repo.data.mostFrequentlyChangedFiles|json_encode|raw }};

                            data.push(['Weekday', 'Number of commits'])

                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Leggyakrabban módosított fájl(ok)'
                                }
                            );
                        });


                        google.charts.setOnLoadCallback(function () {
                            const chart = new google.visualization.LineChart(document.getElementById('piechart{{ repo.name }}3'));
                            let data = [];
                            let rawData = {{ repo.data.commitsPerHour|json_encode|raw }};

                            data.push(['Weekday', 'Number of commits'])

                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Kód módosítások eloszlása időben'
                                }
                            );
                        });

                        google.charts.setOnLoadCallback(function () {
                            const chart = new google.visualization.PieChart(document.getElementById('piechart{{ repo.name }}4'));
                            let data = [];
                            let rawData = {{ repo.data.commitsPerAuthors|json_encode|raw }};

                            data.push(['Author', 'Number of commits'])

                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Kód módosítások eloszlása szerzőnként'
                                }
                            );
                        });

                        google.charts.setOnLoadCallback(function () {
                            const chart = new google.visualization.PieChart(document.getElementById('piechart{{ repo.name }}5'));
                            let data = [];
                            let rawData = {{ repo.data.masterMergesPerAuthor|json_encode|raw }};

                            // Header
                            data.push(['Author', 'Number of merges'])

                            // Struct data.
                            for (let index in rawData) {
                                if (rawData.hasOwnProperty(index)) {
                                    data.push([index, rawData[index]]);
                                }
                            }

                            chart.draw(
                                google.visualization.arrayToDataTable(data),
                                {
                                    title: 'Kód módosítások élesítésének eloszlása szerzőnként'
                                }
                            );
                        });

                    </script>
                    <div class="break">{{ repo.name }}</div>
                    <div class="chart" id="piechart{{ repo.name }}4"></div>
                    <div class="chart" id="piechart{{ repo.name }}"></div>
                    <div class="chart" id="piechart{{ repo.name }}5"></div>
                    <div class="chart" id="piechart{{ repo.name }}2"></div>
                    <div class="chart" id="piechart{{ repo.name }}3"></div>
                </div>

            {% endfor %}
        </ul>
    </div>
{% endblock %}
