<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.PieChart(document.getElementById('piechart'));
            let data = [];
            let rawData = {{ contribPerWeekday|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Number of commits per weekday'
                }
            );
        });

        google.charts.setOnLoadCallback(function () {
            let chart_div = document.getElementById('piechart2');
            const chart = new google.visualization.PieChart(chart_div);
            let data = [];
            let rawData = {{ mostFrequentlyChangedFiles|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Most frequently changed files'
                }
            );
        });


        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.LineChart(document.getElementById('piechart3'));
            let data = [];
            let rawData = {{ commitsPerHour|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Number of commits distributed over time'
                }
            );
        });

        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.PieChart(document.getElementById('piechart4'));
            let data = [];
            let rawData = {{ commitsPerAuthors|json_encode|raw }};

            // Header
            data.push(['Author', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Number of commits pushd by contributors'
                }
            );
        });

        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.PieChart(document.getElementById('piechart5'));
            let data = [];
            let rawData = {{ masterMergesPerAuthor|json_encode|raw }};

            // Header
            data.push(['Author', 'Number of merges'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Number of merges by contributors'
                }
            );
        });
    </script>
</head>
<body>
<h1>{{ reponame }}</h1>
<div class="chart" id="piechart4"></div>
<div class="chart"  id="piechart"></div>
<div class="chart"  id="piechart2"></div>
<div class="chart"  id="piechart3"></div>
<div class="chart"  id="piechart5"></div>
</body>
</html>